*{
padding :0;
margin :0;
}
.background {   
    background-image: url('https://langues-etrangeres.univ-grenoble-alpes.fr/medias/photo/grenoble_1475224921567-jpg?ID_FICHE=133562');
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.navbar-logo {
    margin-bottom: 1em;          
    width: 300px;
    height: auto;              
}
.nav-btn {
    display: inline-block;
    margin-bottom: 1em;
    a {
        margin: 0 1em;
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}
.nav-plan {
    border:solid white 1px; 
    border-radius: 45%;
    padding: 5px 10px;
}
.nav-horaires {
    border:solid white 1px; 
    border-radius: 45%;
    padding: 5px 10px;
}
.box-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-lignes {
    max-width: 400px;
    margin-bottom: 1em;
    @media(max-device-width:1224px) {
        width: 100%;
        max-width: 100%;
    }
}
#mapid { 
    height: 475px;
    width: 800px;
    @media(max-device-width:1224px) {
        max-width: 100%;
        max-height: 450px;
        
    }
}
